a{
    text-decoration:none;
}
a:hover ,
a:focus {
    color: darkblue!important;
}

/*style pour page accueil */
.fab{
font-size: 2rem;
color: #339af0;
}
a.list-group-item{
background-color:#f8f9fa!important;
border:none;
}

/* style pour page produit */
.hide{
    opacity:0;
    text-decoration: none;
    height:0;
}
.produit{
    height: 25rem
}
.produit:hover > .hide{
    opacity:1;
    height:auto;
    transition:0.3s;
}

/* style pour panier*/
.choix_en_plus{
    height: 16rem;
}

/* style pour page paiement */
.produit_paiement img{
    width:3rem!important;
}

/*style pour page confirmation*/
.text-right{
    text-align:right!important;
}
@media screen and (max-width:767px) {
    i.fas {
        display:none;
        width:0;
        height:0;
    }
    .navbar-item{
        align-self:flex-end;
    }
}

@media screen and (max-width:575px) {
    .choix_en_plus{
        height: 12rem;
    }
  
}
@media screen and (max-width:400px) {
    .produit_paiement{
        display:none;
        
    }
    
}